.activityList {
    margin-top: 120px;
    padding-bottom: 30px;
}

.listHeader {
    text-decoration: underline;
}

.activities {
    margin-left: 10px;
    padding-top: 15px;
    margin-bottom: 10px;
}

.createHeader {
   text-decoration: underline; 
}

.form-control {
    width: 40% !important;
  }